@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  height: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 85px;
  padding-left: 85px;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 8rem;
}

nav div ul li {
  color: #477dee;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

nav div ul li:hover {
  color: #9db1c5;
  -webkit-transition: ease-in-out .18s;
  transition: ease-in-out .18s;
  border-radius: .5rem;
}

nav div ul li a .dropdown-menu .dropdown-item {
  padding: none;
  margin: none;
  color: #477dee;
  font-size: .9rem;
  text-transform: none;
  letter-spacing: none;
}

nav div ul li a .dropdown-menu .dropdown-item:hover {
  background-color: #9db1c5;
  color: #ffffff;
  -webkit-transition: ease-in-out .18s;
  transition: ease-in-out .18s;
  border-radius: .5rem;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/Img_Header.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header .caja1 {
  width: 2000px;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.55);
}

header .caja1 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: 900;
}

header .caja1 small {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
}

header .caja1 button {
  margin: 1rem 1.7rem;
  padding: 1rem 3.5rem;
  cursor: pointer;
  border: none;
  border-radius: 1px;
  background-color: #477dee;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

header .caja1 button:hover {
  background-color: #9db1c5;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.nuestrosprogramas {
  margin: 2.5rem 0;
}

.nuestrosprogramas h2 {
  padding: 12px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #477dee;
}

.nuestrosprogramas .bloque1 {
  margin: 4rem;
}

.nuestrosprogramas .bloque1 .caja2 {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 70px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nuestrosprogramas .bloque1 .caja2 .item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
}

.nuestrosprogramas .bloque1 .caja2 .item1 .img-gv {
  width: 300px;
  height: 300px;
  background-image: url("../images/GV.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.nuestrosprogramas .bloque1 .caja2 .item1 .text {
  margin-top: 2.5rem;
  width: 300px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nuestrosprogramas .bloque1 .caja2 .item1 .text p {
  padding: 8px;
  color: #2a2a2a;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.nuestrosprogramas .bloque1 .caja2 .item1 .text button {
  cursor: pointer;
  border: none;
  border-radius: 1px;
  background-color: #2a2a2a;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding: 20px;
}

.nuestrosprogramas .bloque1 .caja2 .item1 .text button:hover {
  background-color: #2a2a2a8f;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.nuestrosprogramas .bloque1 .caja2 .item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nuestrosprogramas .bloque1 .caja2 .item2 .img-gt {
  width: 300px;
  height: 300px;
  background-image: url("../images/GT.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.nuestrosprogramas .bloque1 .caja2 .item2 .text {
  margin-top: 2.5rem;
  width: 300px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nuestrosprogramas .bloque1 .caja2 .item2 .text p {
  padding: 8px;
  color: #2a2a2a;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.nuestrosprogramas .bloque1 .caja2 .item2 .text button {
  cursor: pointer;
  border: none;
  border-radius: 1px;
  background-color: #2a2a2a;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding: 20px;
}

.nuestrosprogramas .bloque1 .caja2 .item2 .text button:hover {
  background-color: #2a2a2a8f;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.testimonios {
  margin: 2.5rem 0;
}

.testimonios h2 {
  padding: 12px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #477dee;
}

.testimonios .bloque3 {
  margin: 2.5rem;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 90px;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonios .bloque3 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 24px;
}

.testimonios .bloque3 .item .img-testimonio1 {
  width: 200px;
  height: 200px;
  margin-bottom: 2.5rem;
  border-radius: 50%;
  background-image: url("../images/28898143994_d55d9a71d7_o.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.testimonios .bloque3 .item .text2 {
  width: 200px;
}

.testimonios .bloque3 .item .text2 p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #2a2a2a;
  text-align: center;
}

.testimonios .bloque3 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 24px;
}

.testimonios .bloque3 .item .img-testimonio2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 2.5rem;
  background-image: url("../images/49015530522_d2b7e1d2bc_o.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.testimonios .bloque3 .item .text2 {
  width: 200px;
}

.testimonios .bloque3 .item .text2 p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #2a2a2a;
  text-align: center;
}

.testimonios .bloque3 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 24px;
}

.testimonios .bloque3 .item .img-testimonio3 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 2.5rem;
  background-image: url("../images/28899552964_29fe15d363_o.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.testimonios .bloque3 .item .text2 {
  width: 200px;
}

.testimonios .bloque3 .item .text2 p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #2a2a2a;
  text-align: center;
}

.formulario {
  height: 89vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/Img_Pág. Contacto.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.formulario .bloque1 {
  width: 80%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formulario .bloque1 .item1 .logo a img {
  cursor: pointer;
}

.formulario .bloque1 .item1 .info h3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  margin-top: 22px;
}

.formulario .bloque1 .item1 .info h1 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: -20px;
}

.formulario .bloque1 .item1 .info .checkbox {
  margin-top: 49px;
  margin-bottom: 48px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.formulario .bloque1 .item1 .info .checkbox input[type="checkbox"] {
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid #ffffff;
  background: none;
}

.formulario .bloque1 .item1 .info .checkbox input[type="checkbox"]:after {
  content: "/2713";
  color: #477dee;
  right: 10px;
  top: 0px;
  position: absolute;
  display: none;
}

.formulario .bloque1 .item1 .info .checkbox input[type="checkbox"]:checked {
  background-color: #ffffff;
  border: 2px solid #477dee;
}

.formulario .bloque1 .item1 .info .checkbox label {
  padding-left: 32px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.formulario .bloque1 .item1 .info .avisolegal {
  width: 70%;
}

.formulario .bloque1 .item1 .info .avisolegal h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 15px;
  color: #ffffff;
}

.formulario .bloque1 .item1 .info .avisolegal small {
  margin-top: -32px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #ffffff;
}

.formulario .bloque1 .item2 form h1 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 14px 0;
}

.formulario .bloque1 .item2 form input {
  padding: 10px;
  margin-bottom: 14px;
  background: none;
  border-radius: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.formulario .bloque1 .item2 form textarea {
  padding: 10px;
  margin-bottom: 14px;
  background: none;
  border-radius: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.formulario .bloque1 .item2 form button {
  padding: 10px;
  margin-bottom: 14px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  background-color: #477dee;
  border-radius: 10px;
  border: none;
  display: block;
  float: right;
}

.formulario .bloque1 .item2 form button:hover {
  background-color: #9db1c5;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.envioformulario {
  height: 88vh;
  background-image: url("../images/Img_Aviso del formulario.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.envioformulario .caja1 {
  margin-top: 409px;
}

.envioformulario .caja1 h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 79px;
  text-align: center;
  color: #ffffff;
}

.envioformulario .caja1 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 119px;
  text-align: center;
  color: #ffffff;
  margin-top: -33px;
}

.envioformulario .caja1 h3 {
  font-family: "Raleway", sans-serif;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  color: #477dee;
  background-color: #ffffff;
  padding: 22px;
  border: none;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */