@import 'variables';

//¿Qué es AIESEC?
.encabezado{
    height: 90vh;
    background-image: url('../images/Img_About\ Us.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    .bloque1{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h1{
            width: 70%;
            color: $blanco;
            font-family: $titulo;
            font-weight: 900;
            font-size: 112px;
            text-align: center;
            line-height: auto;
        }
        p{
            width: 40%;
            padding-left: 32px;
            color: $blanco;
            font-family: $texto;
            font-size: 28px;
            text-align: center;
            line-height: auto;
        }
    }
}

//Contador
.contador{
    margin: 4rem 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    .item3{
        width: 95%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-family: $titulo;
            color: $negro;
            font-weight: 900;
            font-size: 7.8rem;
        }
        p{
            width: 75%;
            font-family: $titulo;
            color: $negro;
            font-size: 15px;
            text-align: center;
            font-weight: 900;
        }
    }
    .item4{
        width: 95%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-family: $titulo;
            color: $negro;
            font-weight: 900;
            font-size: 7.8rem;
        }
        p{
            width: 75%;
            font-family: $titulo;
            color: $negro;
            font-size: 15px;
            text-align: center;
            font-weight: 900;
        }
    }
    .item5{
        width: 95%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-family: $titulo;
            color: $negro;
            font-weight: 900;
            font-size: 7.8rem;
        }
        p{
            width: 75%;
            font-family: $titulo;
            color: $negro;
            font-size: 15px;
            text-align: center;
            font-weight: 900;
        }
    }
}

//Desarrollamos líderes juveniles
.lideresjuveniles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        color: $azul;
        font-family: $titulo;
        font-size: 32px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 10px;
        line-height: 42px;
    }
    h2{
        width: 80%;
        color: $negro;
        font-family: $texto;
        font-size: 18px;
        text-align: center;
        line-height: 28px;
        padding-bottom: 10px;
    }
    .bloque2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .item6{
            width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .info{
                margin-top: 1rem;
                h3{
                    color: $negro;
                    font-family: $titulo;
                    font-size: 18px;
                    text-align: right;
                    font-weight: 900;
                }
                p{
                    color: $negro;
                    font-family: $texto;
                    font-size: 14px;
                    text-align: right;
                    line-height: 21px;
                }
            }
        }
        .img-lideres-juveniles{
            img{
                background-size: cover;
                background-position: center;
                background-attachment: scroll;
            }
        }
        .item7{
            width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .info{
                margin-top: 1rem;
                h3{
                    color: $negro;
                    font-family: $titulo;
                    font-size: 18px;
                    text-align: left;
                    font-weight: 900;
                }
                p{
                    color: $negro;
                    font-family: $texto;
                    font-size: 14px;
                    text-align: left;
                    line-height: 21px;
                }
            }
        }
    }
}

//¿Quieres ser un voluntario o becario?
.contenedor{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .bloque{
        .info{
            margin-bottom: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img{
                padding-right: 10px;
                background-size: cover;
                background-position: center;
                background-attachment: scroll;
            }
            .texto{
                width: 50%;
                margin-left: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2{
                    color: $negro;
                    font-family: $titulo;
                    font-size: 32px;
                    font-weight: 900;
                    padding-bottom: 10px;
                }
                p{
                    width: 65%;
                    color: $negro;
                    font-family: $texto;
                    font-size: 18px;
                    padding-bottom: 10px;
                    line-height: 28px;
                    text-align: center;
                }
                a{
                    button{
                        margin: 1rem 1.7rem;
                        padding: 1rem 3.5rem;
                        cursor: pointer;
                        border: none;
                        border-radius: 1px;
                        background-color: $negro;
                        color: $blanco;
                        font-family: $texto;
                        font-size: 20px;
                        font-weight: 900;
                        &:hover{
                            background-color: $negro-hover;
                            transition: ease-in-out .5s;
                        }
                    }
                }
            }
        }
    }
}

//RESPONSIVE
//¿Qué es AIESEC?
@media screen and (max-width: 768px) {
    .encabezado{
        .bloque1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                width: 90%;
                color: $blanco;
                font-family: $titulo;
                font-weight: 900;
                font-size: 70px;
                text-align: center;
                line-height: auto;
            }
            p{
                width: 75%;
                padding-left: 32px;
                color: $blanco;
                font-family: $texto;
                font-size: 28px;
                text-align: center;
                line-height: auto;
            }
        }
    }
}

//Contador
@media screen and (max-width: 768px) {
    .contador{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

//Desarrollamos líderes juveniles
@media screen and (max-width: 768px) {
    .lideresjuveniles{
        h2{
            font-size: 16px;
        }
        .bloque2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .item6{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .info{
                    h3{
                        font-size: 21px;
                        text-align: center;
                    }
                    p{
                        font-size: 16px;
                        text-align: left;
                    }
                }
            }
            .item7{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .info{
                    h3{
                        font-size: 21px;
                        text-align: center;
                    }
                    p{
                        font-size: 16px;
                        text-align: left;
                    }
                }
            }
        }
    }
}

//¿Quieres ser un voluntario o becario?
@media screen and (max-width: 768px) {
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .bloque{
            .info{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                .texto{
                    h2{
                        font-size: 21px;
                    }
                    p{
                        font-size: 14px;
                    }
                    a{
                        button{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}