@import 'variables';

//¿Por qué ser un Voluntario Global?
.gv{
    width: 100%;
    padding: 4rem;
    background-color: $gv;
    .caja1{
        padding: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);

        //¿Por qué ser un Voluntario Global?
        .bloque1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                font-family: $titulo;
                font-size: 32px;
                font-weight: 900;
                color: $blanco;
                text-transform: uppercase;
                padding: 16px;
                text-align: center;
            }
            .item1{
                display: grid;
                grid-gap: 14px;
                grid-template-columns: repeat(3, 1fr);
                .img-generar{
                    width: 300px;
                    height: 400px;
                    background-image: url('../images/why-gv-1.jpg');
                    background-size: cover;
                    background-position: center;
                    background-attachment: scroll;
                    border-radius: 2%;
                }
                .img-experimentar{
                    width: 300px;
                    height: 400px;
                    background-image: url('../images/why-gv-2.jpg');
                    background-size: cover;
                    background-position: center;
                    background-attachment: scroll;
                    border-radius: 2%;
                }
                .img-retarte{
                    width: 300px;
                    height: 400px;
                    background-image: url('../images/why-gv-3.jpg');
                    background-size: cover;
                    background-position: center;
                    background-attachment: scroll;
                    border-radius: 2%;
                }
            }
        }

        //Testimonio
        .bloque2{
            background-color: $blanco;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
            border-radius: 2%;
            .img-bloque2{
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background-image: url('../images/GV_testimonio_01.png');
                background-size: cover;
                background-position: center;
                background-attachment: scroll;
            }
            h2{
                padding-top: 20px;
                font-family: $titulo;
                color: $negro;
                font-size: 15px;
            }
            p{
                font-family: $texto;
                color: $negro;
                font-size: 13px;
                line-height: auto;
            }
        }
    }
}

//Fact y dato
.fact{
    margin: 20px 0;
    height: 90vh;
    .image-fact{
        width: 100%;
        height: 100%;
        background-image: url('../images/Img_Fact.png');
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 50% 50%;
        .fact{
            display: flex;
            flex-direction: column;
            padding: 2rem 4rem;
            .num-fact{
                font-family: $titulo;
                color: $gv;
                font-weight: 900;
                font-size: 11.8rem;
            }
            .text-fact{
                margin-top: -28px;
                width: 65%;
                font-family: $texto;
                color: $gv;
                font-weight: 700;
                font-size: 18px;
            }
            .linea-fact{
                width: 65%;
                height: 1%;
                background-color: $gv;
                border-radius: 2px;
                margin: 8px 0;
            }
            .footer-fact{
                width: 65%;
                font-family: $titulo;
                font-weight: 700;
                color: $gv;
                font-size: 13px;
            }
        }
        .contador{
            width: 50%;
            height: 50%;
            margin: 9rem;
            .bg-contador{
                width: 350px;
                height: 80%;
                background-color: $gv;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h1{
                    font-family: $titulo;
                    color: $blanco;
                    font-weight: 900;
                    font-size: 7.8rem;
                }
                p{
                    width: 75%;
                    font-family: $titulo;
                    color: $blanco;
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }
}

//Podés vivir tu experiencia en
.paises{
    margin-bottom: 20px;
    h1{
        font-family: $titulo;
        font-weight: 900;
        font-size: 32px;
        color: $gv;
        text-transform: uppercase;
        text-align: center;
    }
    .banderas{
        padding-left: 22px;
        padding-top: 22px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .img-ecuador{
            width: 200px;
            height: 150px;
            margin-right: 22px;
            background-image: url('../images/Bandera de Ecuador.png');
            background-size: cover;
            background-position: center;
            background-attachment: scroll;
        }
        .img-bolivia{
            width: 200px;
            height: 150px;
            margin-right: 22px;
            background-image: url('../images/Bandera de Bolivia.png');
            background-size: cover;
            background-position: center;
            background-attachment: scroll;
        }
        .img-guatemala{
            width: 200px;
            height: 150px;
            background-image: url('../images/Bandera de Guatemala.png');
            background-size: cover;
            background-position: center;
            background-attachment: scroll;
        }
    }
}

//Testimonios
.testimonios{
    .contenedor{
        padding-bottom: 40px;
        .img-testimonio-01{
            width: 100%;
            height: 400px;
            background-image: url('../images/Testimonio_01.png');
            background-size: cover;
            background-position: center;
            background-attachment: scroll;
        }
        .texto{
            width: 100%;
            height: 400px;
            background-color: $gv;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                padding: 20px 0;
                color: $blanco;
                font-weight: 600;
                text-align: center;
            }
            p{
                padding: 5px 20px;
                color: $blanco;
                text-align: left;
                line-height: 20px;
                font-size: 12px;
            }
        }
    }
}

//Listado de proyectos
.proyectos{
    h1{
        padding: 52px 0;
        font-family: $titulo;
        color: $gv;
        font-size: 32px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
    }
    .caja2{
        padding: 0 40px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        .item{
            padding-bottom: 40px;
            .info{
                h2{
                    font-family: $titulo;
                    font-size: 21px;
                    font-weight: 700;
                    color: $negro;
                    text-align: left;
                    padding-bottom: 10px;
                }
                p{
                    font-family: $texto;
                    font-size: 14px;
                    color: $negro;
                    line-height: 24px;
                    padding-bottom: 10px;
                }
                a{
                    button{
                        cursor: pointer;
                        border: none;
                        border-radius: 1px;
                        background-color: $negro;
                        color: $blanco;
                        font-family: $texto;
                        font-size: 14px;
                        padding: 20px;
                        &:hover{
                            background-color: $negro-hover;
                            transition: ease-in-out .5s;
                        }
                    }
                }
            }
        }
    }
}

//Fact y dato
@media screen and (max-width: 768px) {
    .fact{
        .image-fact{
            .fact{
                display: flex;
                flex-direction: column;
                padding: 2rem 4rem;
                .num-fact{
                    padding-bottom: 10px;
                    font-family: $titulo;
                    color: $gv;
                    font-weight: 900;
                    font-size: 7rem;
                }
                .text-fact{
                    margin-top: -28px;
                    width: 85%;
                    font-family: $texto;
                    color: $gv;
                    font-weight: 700;
                    font-size: 14px;
                }
                .linea-fact{
                    width: 85%;
                    height: 1%;
                    background-color: $gv;
                    border-radius: 2px;
                    margin: 8px 0;
                }
                .footer-fact{
                    width: 85%;
                    font-family: $titulo;
                    font-weight: 700;
                    color: $gv;
                    font-size: 11px;
                }
            }
            .contador{
                width: 200px;
                height: 200px;
                background-color: $gv;
                border-radius: 12px;
                .bg-contador{
                    width: 150px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h1{
                        padding-top: 12px;
                        padding-left: 12px;
                        font-family: $titulo;
                        color: $blanco;
                        font-weight: 900;
                        font-size: 5rem;
                    }
                    p{
                        width: 75%;
                        font-family: $titulo;
                        color: $blanco;
                        font-size: 11px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

//Puedes vivir tu experiencia es
@media screen and (max-width: 768px) {
    .paises{
        .banderas{
            .img-ecuador{
                width: 200px;
                height: 100px;
            }
            .img-bolivia{
                width: 200px;
                height: 100px;
            }
            .img-guatemala{
                width: 200px;
                height: 100px;
            }
        }
    }
}

//Listado de proyectos
@media screen and (max-width: 768px) {
    .proyectos{
        .caja2{
            .item{
                .info{
                    p{
                        font-size: 13px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}