@import 'variables';

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/Img_Header.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .caja1{
        width: 2000px;
        padding: 2rem;
        text-align: center;
        color: $blanco;
        background: rgba(0, 0, 0, 0.55);
        h1{
            font-family: $titulo;
            font-size: 72px;
            font-weight: 900;
        }
        small{
            font-family: $texto;
            font-size: 35px;
        }
        button{
            margin: 1rem 1.7rem;
            padding: 1rem 3.5rem;
            cursor: pointer;
            border: none;
            border-radius: 1px;
            background-color: #027df2;
            color: $blanco;
            font-family: $texto;
            font-size: 20px;
            &:hover{
                background-color: #1167b8;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header{
        width: 768px;
        .caja1{
            background: none;
            text-align: right;
            h1{
                font-size: 52px;
            }
            small{
                margin-left: 1.8rem;
                font-size: 21px;
            }
            button{
                right: 0;
                background-color: $blanco;
                color: $azul;
                font-weight: 700;
                &:hover{
                    color: $blanco;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    header{
        max-width: 375px;
        .caja1{
            h1{
                font-size: 32px;
            }
            small{
                margin-left: 3rem;
                font-size: 15px;
            }
            button{
                padding: 1rem;
                margin-right: 0;
            }
        }
    }
}