@import 'variables';

//Nuestros programas
.nuestrosprogramas{
    margin: 2.5rem 0;
    h2{
        padding: 12px 0;
        font-family: $titulo;
        font-size: 32px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        color: $azul;
    }
    .bloque1{
        margin: 4rem;
        .caja2{
            display: grid;
            grid-column-gap: 70px;
            grid-template-columns: auto auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            //GV
            .item1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-bottom: 24px;
                .img-gv{
                    width: 300px;
                    height: 300px;
                    background-image: url('../images/GV.jpg');
                    background-size: cover;
                    background-position: center;
                    background-attachment: scroll;
                }
                .text{
                    margin-top: 2.5rem;
                    width: 300px;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p{
                        padding: 8px;
                        color: $negro;
                        text-align: center;
                        font-family: $texto;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    button{
                        cursor: pointer;
                        border: none;
                        border-radius: 1px;
                        background-color: $negro;
                        color: $blanco;
                        font-family: $texto;
                        font-size: 14px;
                        padding: 20px;
                        &:hover{
                            background-color: $negro-hover;
                            transition: ease-in-out .5s;
                        }
                    }
                }
            }

            //GT
            .item2{
                display: flex;
                flex-direction: column;
                padding-bottom: 24px;
                justify-content: center;
                align-items: center;
                .img-gt{
                    width: 300px;
                    height: 300px;
                    background-image: url('../images/GT.jpg');
                    background-size: cover;
                    background-position: center;
                    background-attachment: scroll;
                }
                .text{
                    margin-top: 2.5rem;
                    width: 300px;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p{
                        padding: 8px;
                        color: $negro;
                        text-align: center;
                        font-family: $texto;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    button{
                        cursor: pointer;
                        border: none;
                        border-radius: 1px;
                        background-color: $negro;
                        color: $blanco;
                        font-family: $texto;
                        font-size: 14px;
                        padding: 20px;
                        &:hover{
                            background-color: $negro-hover;
                            transition: ease-in-out .5s;
                        }
                    }
                }
            }
        }
    }
}

//Nuestros proyectos
.nuestrosproyectos{
    margin: 2.5rem 0;
    h2{
        padding: 12px 0;
        font-family: $titulo;
        font-size: 32px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        color: $azul;
    }
    .container{
        #slider{
            margin-top: 10%;
            .content-area{
                position: relative;
                a{
                    img{
                        width: 500px;
                        height: 300px;
                    }
                    .custom-overlay{
                        position: absolute;
                        top: 50px;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        text-align: center;
                        background-color: rgba(71, 125, 238, .7); 
                        opacity: 0;
                        transition: all 400ms ease-in-out;
                        height: 70%;
                        &:hover{
                            opacity: 1;
                        }
                        .content-text{
                            position: absolute;
                            top: 50%;
                            left: 10px;
                            right: 10px;
                            transform: translateY(-50%);
                            p{
                                font-family: $texto;
                                font-size: 21px;
                                line-height: 1.6em;
                                margin-top: 3%;
                                color: $blanco;
                            }
                            h4{
                                position: relative;
                                font-size: 30px;
                                font-family: $titulo;
                                color: $blanco;
                                &:before{
                                    content: '';
                                    padding-right: 10px;
                                }
                                &:after{
                                    content: '';
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.owl-dots{
    text-align: center;
    margin-top: 3%;
}
.owl-dot{
    display: inline-block;
    height: 6px !important;
    width: 60px !important;
    background-color: $azul !important;
    opacity: 0.8;
    margin: 0 5px;
}
.owl-dot.active{
    background-color: $azul-hover !important;
}

//Testimonios de nuestros clientes
.testimonios{
    margin: 2.5rem 0;
    h2{
        padding: 12px 0;
        font-family: $titulo;
        font-size: 32px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        color: $azul;
    }
    .bloque3{
        margin: 2.5rem;
        display: grid;
        grid-column-gap: 90px;
        grid-template-columns: auto auto auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        //Testimonio 1
        .item{
            display: flex;
            flex-direction: column;
            padding-bottom: 24px;
            .img-testimonio1{
                width: 200px;
                height: 200px;
                margin-bottom: 2.5rem;
                border-radius: 50%;
                background-image: url('../images/28898143994_d55d9a71d7_o.jpg');
                background-size: cover;
                background-position: center;
                background-attachment: scroll;
            }
            .text2{
                width: 200px;
                p{
                    font-family: $texto;
                    font-size: 14px;
                    line-height: 18px;
                    color: $negro;
                    text-align: center;
                }
            }
        }

        //Testimonio 2
        .item{
            display: flex;
            flex-direction: column;
            padding-bottom: 24px;
            .img-testimonio2{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin-bottom: 2.5rem;
                background-image: url('../images/49015530522_d2b7e1d2bc_o.jpg');
                background-size: cover;
                background-position: center;
                background-attachment: scroll;
            }
            .text2{
                width: 200px;
                p{
                    font-family: $texto;
                    font-size: 14px;
                    line-height: 18px;
                    color: $negro;
                    text-align: center;
                }
            }
        }

        //Testimonio 3
        .item{
            display: flex;
            flex-direction: column;
            padding-bottom: 24px;
            .img-testimonio3{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin-bottom: 2.5rem;
                background-image: url('../images/28899552964_29fe15d363_o.jpg');
                background-size: cover;
                background-position: center;
                background-attachment: scroll;
            }
            .text2{
                width: 200px;
                p{
                    font-family: $texto;
                    font-size: 14px;
                    line-height: 18px;
                    color: $negro;
                    text-align: center;
                }
            }
        }
    }
}

//RESPONSIVE
//Testimonios de nuestros clientes

@media screen and (max-width: 768px) {
    .testimonios{
        .bloque3{
            display: grid;
            grid-gap: 0;
            grid-template-columns: none;

            //Testimonio 1
            .item{
                .img-testimonio1{
                    width: 350px;
                    height: 350px;
                }
                .text2{
                    width: 350px;
                }
            }

            //Testimonio 2
            .item{
                .img-testimonio2{
                    width: 350px;
                    height: 350px;
                }
                .text2{
                    width: 350px;
                }
            }

            //Testimonio 3
            .item{
                .img-testimonio3{
                    width: 350px;
                    height: 350px;
                }
                .text2{
                    width: 350px;
                }
            }
        }
    }
}