@import 'variables';

nav{
    height: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 85px;
    padding-left: 85px;
    background-color: $blanco;
    position: sticky;
    top: 0;
    div{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-right: 8rem;
            li{
                color: $azul;
                font-size: 14px;
                padding: 10px;
                text-decoration: none;
                font-family: $titulo;
                font-weight: 400;
                &:hover{
                    color: $azul-hover;
                    transition: ease-in-out .18s;
                    border-radius: .5rem;
                }
                a{
                    .dropdown-menu{
                        .dropdown-item{
                            padding: none;
                            margin: none;
                            color: $azul;
                            font-size: .9rem;
                            text-transform: none;
                            letter-spacing: none;
                            &:hover{
                                background-color: $azul-hover;
                                color: $blanco;
                                transition: ease-in-out .18s;
                                border-radius: .5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}