//Tipografía
$titulo: 'Montserrat', sans-serif;
$texto: 'Raleway', sans-serif;

//Colores
$azul: #477dee;
$azul-hover: #9db1c5;
$negro: #2a2a2a;
$blanco: #ffffff;
$gv: #f7593f;
$gt: #0bb8c0;
$g-teacher: #f38823;